# Bison debug outpu
y.output

# object and dependency files
*.o
*.d

# Executable
ric

# The name I typically give my meson build folders
builddir

# The sphinx build that isn't part of the node-app
doc/sphinx/build/*
doc/sphinx/build/*/*
doc/sphinx/build/*/*/*
doc/sphinx/build/*/*/*/*

# The name I typically give my python virtual environments
venv

# Node modules
node/node_modules

# Python cache
tests/__pycache__

# Mac osX 
.DS_Store
src/ric.dSYM
ric.dSYM

# Vim
src/*.swp
tags
cscope.files
