# Bison debug outpu
y.output

# object and dependency files
*.o
*.d

# Executable
ric

# The name I typically give my meson build folders
builddir

# The name I typically give my python virtual environments
venv

# Node modules
node/node_modules

# Python cache
tests/__pycache__

# Mac osX 
.DS_Store
